<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div id="map">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            Overseas 5 Commercial, Middle Ring Road, <br>Bahria Greens Phase 8 Bahria Town, <br>Rawalpindi, Punjab 46220, Pakistan
          </h3>
          <ul>
            <li> <a href="mailto:prowork@business.com">prowork@business.com</a></li>
            <li><a href="tel:+92 100 300 200">+92 100 300 200</a></li>
          </ul>
          <p>
            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on
            business days.
          </p>
          <p>We are open from 7am — 7pm week days.</p>
        </div>
      </div>
    </div>
  </div>
</section>